.mat-chip.mat-standard-chip.mat-chip-disabled {
	opacity: 1;
}

.mat-badge-medium .mat-badge-content {
	font-size: 10px;
}

.mat-chip.mat-standard-chip.mat-chip-disabled.uninterested {
	opacity: 0.4;
}

.mat-chip.mat-standard-chip.mat-chip-disabled.interested {
	opacity: 1;
}
