<ul style="border-left: 1px solid black;">
	<ng-container *ngFor="let field of obj | keyvalue">
	  <ng-container *ngIf="field.key[0] != '_'">
		  <li >
		  	<ng-container *ngIf="safeJson || field.key == 'value'; else unsafeJson;">
		  		{{field.key}}{{value ? "." + value : ''}}: "{{ value ? (field.value[value] | json) : (field.value | json)}}"
		  	</ng-container>
		  	<ng-template #unsafeJson>
			    {{field.key}}{{value ? "." + value : ''}}: "{{ value ? field.value[value] : field.value}}"
		    </ng-template>
		    <ng-container *ngIf="depth<maxDepth">
		     	<button  *ngIf="child.numChildren > 0" (click)="sub.hidden = !sub.hidden" mat-button >
		     		Show {{sub.hidden ?  child.numChildren + " More" : "Less"}}
		     	</button>
		     	<div #sub hidden="true">
			     	<app-safe-object #child [depth]="depth+1" [object]="field.value"></app-safe-object>
		     	</div>
		    </ng-container>
		   </li>
	   </ng-container>
   </ng-container>
</ul>
