<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!closed"
      (openedStart)="closed=false"
      (closedStart)="closed=true"
      >
    <mat-toolbar>I am...</mat-toolbar>
    <mat-nav-list (click)="toggleNav();">
      <a mat-list-item routerLink='/studentForm'>A student or parent</a>
      <a mat-list-item routerLink='/teacherForm'>A teacher</a>
      <a mat-list-item routerLink='/schedule'>An administrator</a>
    </mat-nav-list>
    <app-message-writer mat-list-item></app-message-writer>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggleNav()"
        *ngIf="isHandset$ | async; else desktopButton">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <ng-template #desktopButton>
        <button mat-icon-button (click)="toggleNav();">
          <mat-icon>{{ closed ? "chevron_right" : "chevron_left"}}</mat-icon>
        </button>
      </ng-template>
      Course Scheduling Automation
    </mat-toolbar>
    <!-- ng-content></ng-content> -->
    <div (click)="!closed ? toggleNav() : null">
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </div>
    <!-- <router-outlet></router-outlet> -->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
