<p>Please fill in the information below to help Course Scheduling Automation plan and schedule course offerings.</p>
<p>Please submit by March 20, 2019.</p>
<p>For assistance submitting this information, please contact zs@gmail.com</p>

<div #testing>
  <button mat-button (click)="tests.hidden = !tests.hidden">{{tests.hidden? "SHOW" : "HIDE"}} TESTS</button>
  <button mat-button (click)="stepper.linear=false; stepper.previous(); stepper.linear=true;">BACK</button>
  <button mat-button (click)="stepper.linear=false; stepper.next(); stepper.linear=true;">NEXT</button>
  <div #tests hidden="true">
    <!-- student: {{student | json }} -->
      <br>
      basicForm: <app-form-group-display [form-group]="basicForm"></app-form-group-display>
      <br>
      interestForm: <app-form-group-display [form-group]="interestForm"></app-form-group-display>
      <div>
        <button mat-button (click)="tests.hidden = !tests.hidden">{{tests.hidden? "SHOW" : "HIDE"}} TESTS</button>
        <button mat-button (click)="stepper.linear=false; stepper.previous(); stepper.linear=true;">BACK</button>
        <button mat-button (click)="stepper.linear=false; stepper.next(); stepper.linear=true;">NEXT</button>
      </div>
  </div>
</div>



<mat-horizontal-stepper editable="true" linear="true" #stepper>

  <mat-step [stepControl]="basicForm">
    <form [formGroup]="basicForm">
      <ng-template matStepLabel>Basic Information</ng-template>
      <mat-form-field>
        <input matInput placeholder="Student's First Name" formControlName="first" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="last" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email Address" autocomplete='email' required>
        <mat-error>Enter a valid email address (address@domain)</mat-error>
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>+1 &nbsp;</span>
        <input matInput placeholder="Phone Number" formControlName="phone" size="15" type="tel" required>
        <mat-error>Enter a valid phone number, eg (999)999-9999</mat-error>
      </mat-form-field>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="address" required></textarea>
            <mat-error>
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="!hasUnitNumber">
        <div class="col">
          <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
            + Add C/O, Apt, Suite, Unit
          </button>
        </div>
      </div>
      <div class="row" *ngIf="hasUnitNumber">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city" required>
            <mat-error>
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="State" formControlName="state" required>
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error >
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width"><!-- size="5"   -->
            <input matInput #zip placeholder="Zip Code"  maxlength="5" minlength="5" formControlName="zip" type="text"inputmode=”numeric”  required >
            <mat-hint align="end">{{zip.value.length}} / 5</mat-hint>
            <mat-error align="end" *ngIf="zip.value.length < 5">{{zip.value.length}} / 5</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="interestForm">
    <ng-template matStepLabel>What skills interest you?</ng-template>
    <form [formGroup]="interestForm">

      <mat-selection-list #interestSelector formControlName="preferences">
        <div *ngFor="let interest of interests">
          <mat-list-option [value]="interest">
            {{interest.name}}
          </mat-list-option>
        </div>
      </mat-selection-list>
      <p>
        Options selected: {{interestSelector.selectedOptions.selected.length}}
      </p>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.


    <div>
      <button mat-button (click)="stepper.linear=false; stepper.previous(); stepper.linear=true;" matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
