<p [hidden]="step>0"> Please fill in the information below to help plan and schedule your curriculum
	Forms submitted by March 15 th 2019 will be given first preference in terms of course selection.</p>
<p>
For assistance submitting this information, please contact [CONTACT EMAIL FOR PLANNING]</p>

{{student |json}}
<div class="form-component">
	<br>
	<button [style.visibility]="step===0 ? 'hidden' : 'visible'" [disabled]="step===0" class="btn btn-secondary btn-lg back" (click)="move(-1)" >
	BACK
	</button>
	<button  [hidden]="step==numSteps-1" class="btn btn-secondary btn-lg forward" (click)="move(1)" [disabled]="f.form.invalid">
	NEXT
	</button>
	<button class="btn btn-secondary btn-lg forward" (click)="move(1)">
	NEXT-TESTING
	</button>
	<button [hidden]="step<numSteps-1" class="btn btn-primary btn-lg forward"  (click)="submit()" [disabled]="f.form.invalid">
	SUBMIT
	</button>
	<form #f="ngForm" >
		<div [hidden]="step!==0" #page>
			page.index: {{page.index}}
			<!-- <div [hidden]="isHidden(page)" #page> -->
			<!-- <div [hidden]="step!==0" #page> -->
				<h3>Basic Information</h3>

				<div class="form-row">
					<div class="col">
						<label for="first"><b>Student's First Name</b></label>
						<input required type="text" name="first" class="form-control" [(ngModel)]="student.first" #first="ngModel" placeholder="First name">
						<div [hidden]="first.valid || first.pristine" class="alert alert-danger">
							Please enter a first name.
						</div>
					</div>

					<div class="col">
						<label for="last"><b>Student's Last Name</b></label>
						<input required type="text" name="last" class="form-control" [(ngModel)]="student.last" #last="ngModel" placeholder="Last name">
						<div [hidden]="last.valid || last.pristine" class="alert alert-danger">
							Please enter a last name.
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="email"><b>Email Address</b></label>
					<input required type="email" name="email" class="form-control" [(ngModel)]="student.email" #email="ngModel" placeholder="<address>@<domain>.<extension>" autocomplete='email' email>
					<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
						Please enter a valid email address.
					</div>
				</div> <!-- form-group -->


				<div class="form-group">
					<label for="address"><b>Address</b></label>
					<input required type="text" name="address" class="form-control" [(ngModel)]="student.address" #address="ngModel" placeholder="1000 Washington Pl.">
					<div [hidden]="address.valid || address.pristine" class="alert alert-danger">
						Please enter an address.
					</div>
				</div>

<!-- 				address: string;
				zip: string;
				phone: string; -->
			</div> <!-- step -->
			<div [hidden]="step!==1" #page>
				FORM PAGE 1

			</div> <!-- step -->
	</form>

	<!-- <app-form-venue #venueform [hidden]="step!==1"> -->
	<!-- </app-form-venue> -->
	<!-- <app-form-date #dateform [hidden]="step!==2"> -->
	<!-- </app-form-date> -->
	<!-- <app-form-accommodation #accommodationform [hidden]="step!==3"> -->
	<!-- </app-form-accommodation> -->

	<button [style.visibility]="step===0 ? 'hidden' : 'visible'" class="btn btn-secondary btn-lg back" (click)="move(-1)" [disabled]="step===0">
	BACK
	</button>
	<button [hidden]="step==numSteps-1" class="btn btn-secondary btn-lg forward"  (click)="move(1)" [disabled]="f.form.invalid">
		NEXT
	</button>
	<button [hidden]="step<numSteps-1" class="btn btn-primary btn-lg forward"  (click)="submit()" [disabled]="f.form.invalid">
	SUBMIT
	</button>
	<br>
	<br>
	<p><ngb-progressbar type="success" [value]="step" [max]="numSteps"></ngb-progressbar></p>
	<br>
	<br>
</div> <!-- form-component (custom class)
 -->
