/*@import "~/src/custom-theme.scss";*/

/*.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label,
  .mat-slider-thumb-label{
  background-color: #ffe0b2;
}*/



mat-form-field {
	width:80%;
  padding-top:1em;
}

.full-width {
  width: 100%;
}


.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.tooltip-red {
  background: #b71c1c;
}
