<p>Please fill in the information below to help Course Scheduling Automation plan and schedule course offerings.</p>
<p>Please submit by March 20, 2019.</p>
<p>For assistance submitting this information, please contact zs@gmail.com</p>

<!-- <div #testing>
  <button mat-button (click)="tests.hidden = !tests.hidden">{{tests.hidden? "SHOW" : "HIDE"}} TESTS</button>
  <button mat-button (click)="submit();">SUBMIT</button>
  <button mat-button (click)="stepper.linear=false; stepper.previous(); stepper.linear=true;">BACK</button>
  <button mat-button (click)="stepper.linear=false; stepper.next(); stepper.linear=true;">NEXT</button>
  <div #tests hidden="true">
      <br>
      basicForm: <app-safe-object [object]="basicForm.controls" value='value'></app-safe-object>
      <br>
      interestForm: <app-safe-object [object]="interestForm.controls" value='value' safeJson="true"></app-safe-object>

      <div>
        <button mat-button (click)="tests.hidden = !tests.hidden">{{tests.hidden? "SHOW" : "HIDE"}} TESTS</button>
        <button mat-button (click)="submit();">SUBMIT</button>
        <button mat-button (click)="stepper.linear=false; stepper.previous(); stepper.linear=true;">BACK</button>
        <button mat-button (click)="stepper.linear=false; stepper.next(); stepper.linear=true;">NEXT</button>
      </div>
  </div>
</div>
 -->
 <button mat-button (click)="stepper.linear=false; stepper.previous(); stepper.linear=true;">(test) BACK</button>
 <button mat-button (click)="stepper.linear=false; stepper.next(); stepper.linear=true;">(test) NEXT</button>


<mat-horizontal-stepper editable="true" linear="true" #stepper>

  <mat-step [stepControl]="basicForm">
    <form [formGroup]="basicForm">
      <ng-template matStepLabel>Basic Information</ng-template>
      <mat-form-field>
        <input matInput placeholder="Student's First Name" formControlName="first" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="last" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email Address" autocomplete='email' required>
        <mat-error>Enter a valid email address (address@domain)</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <span matPrefix>+1 &nbsp;</span>
        <input matInput placeholder="Phone Number" formControlName="phone" size="15" type="tel" required>
        <mat-error>Enter a valid phone number, eg (999)999-9999</mat-error>
      </mat-form-field>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address" formControlName="address" required></textarea>
            <mat-error>
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="!hasUnitNumber">
        <div class="col">
          <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
            + Add C/O, Apt, Suite, Unit
          </button>
        </div>
      </div>
      <div class="row" *ngIf="hasUnitNumber">
        <br>
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Address 2" formControlName="address2"></textarea>
          </mat-form-field>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="City" formControlName="city" required>
            <mat-error>
              City is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="State" formControlName="state" required>
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error >
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width"><!-- size="5"   -->
            <input matInput #zip placeholder="Zip Code"  maxlength="5" minlength="5" formControlName="zip" type="text"inputmode=”numeric”  required >
            <mat-hint align="end">{{zip.value.length}} / 5</mat-hint>
            <mat-error align="end" *ngIf="zip.value.length < 5">{{zip.value.length}} / 5</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="interestForm">
    <ng-template matStepLabel>What courses interest you?</ng-template>


    <form [formGroup]="interestForm">

      <mat-expansion-panel #skillPanel
                           (opened)="skillPanelOpen = true;"
                           (closed)="skillPanelOpen = false; coursePanel.open();"
                           expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filter by Age and Skills!
          </mat-panel-title>
          <mat-panel-description>
            {{skillPanelOpen ? 'Age & Skills' : 'Click for Age & Skills'}}
          </mat-panel-description>
        </mat-expansion-panel-header>

<!--         courses: {{courses | json}}
        ageAppropriateCourses: {{ageAppropriateCourses | json}}
        numberAgeAppropriate: {{numberAgeAppropriate | json}} -->
        <h3>Age: {{ageSlider.value ? ageSlider.value : ageSlider.min }}
          <ng-container #youngAge *ngIf="ageSlider.value ? ageSlider.value < 8 : false; else middleAge">
            👶
          </ng-container>
          <ng-template #middleAge>
            <ng-container *ngIf="ageSlider.value ? ageSlider.value < 12 : false; else oldAge">
              🧒
            </ng-container>
          </ng-template>
          <ng-template #oldAge>
            🧑
          </ng-template>
        </h3>
        <mat-slider #ageSlider formControlName="age"
          thumbLabel="true"
          tickInterval="1"
          min="5"
          max="15"
          style="padding: 10px;"
          (change)="removeMinValStyles(); applyCourseFilters();"></mat-slider>
        <h3>Skills (and number of age-appropriate courses available)</h3>
        <mat-selection-list #interestSelector formControlName="skills">
          <div *ngFor="let interest of interests">
            <mat-list-option [value]="interest">
              {{interest.name}} ({{numberAgeAppropriate[interest.name]}})
            </mat-list-option>
          </div>
        </mat-selection-list>
        <!--  -->
        <button mat-raised-button (click)="skillPanel.close(); courseSelector.focus(); coursePanel.open();">Ready to pick courses!</button>
        <span style="float:right;">
          <mat-button-toggle-group   aria-label="All Interests" multiple="false">
            <mat-button-toggle matTooltip="Select All" matTooltipPosition="left" matTooltipHideDelay="1000" [hidden]="interestSelector.selectedOptions.selected.length > 0" (click)="interestSelector.selectAll();"><mat-icon>check_box_outline_blank</mat-icon></mat-button-toggle>

            <mat-button-toggle matTooltip="Select None" matTooltipPosition="left" matTooltipHideDelay="1000" [hidden]="interestSelector.selectedOptions.selected.length < interests.length" (click)="interestSelector.deselectAll();"><mat-icon>check_box</mat-icon></mat-button-toggle>

            <mat-button-toggle (mouseenter)="indeterminateIcon.color='warn'" (mouseleave)="indeterminateIcon.color=null" matTooltip="Select None" matTooltipPosition="left" matTooltipHideDelay="1000" matTooltipClass='tooltip-red' [hidden]="interestSelector.selectedOptions.selected.length == interests.length || interestSelector.selectedOptions.selected.length == 0" (click)="removeAllInterests();"><mat-icon #indeterminateIcon>indeterminate_check_box</mat-icon></mat-button-toggle>
          </mat-button-toggle-group>
        </span>
      </mat-expansion-panel>

      <div>
        <mat-chip-list style="display:inline-block; padding:10px;">
          <mat-chip selectable="true" color="primary" *ngFor="let interest of interestForm.controls.skills.value" selected>{{interest.name}}<mat-icon (click)="removeInterest(interest)" matChipRemove>cancel</mat-icon></mat-chip>
        </mat-chip-list>
        <span style="display:inline-block; padding:10px;">
          Interested in {{interestSelector.selectedOptions.selected.length ? interestSelector.selectedOptions.selected.length + "❤️" : 'no😞'}} Skills!
        </span>
      </div>

      <mat-expansion-panel #coursePanel
                           (opened)="coursePanelOpen = true; skillPanel.close();"
                           (closed)="coursePanelOpen = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Select Courses
            </mat-panel-title>
            <mat-panel-description>
              <ng-container *ngIf="coursePanelOpen; else closedCoursePanelDescription">
                Courses
              </ng-container>
              <ng-template #closedCoursePanelDescription>
                Click for Courses
              </ng-template>
            </mat-panel-description>
          </mat-expansion-panel-header>

<!--           <mat-selection-list #courseSelector formControlName="courses">
            <ng-container *ngFor="let course of courses">
              <mat-list-option [value]="course">
                <h2 matLine><b>{{course.name}}</b></h2>
                <p matLine>{{course.desc}}</p>
              </mat-list-option>
              <ng-container *ngFor="let i of courseCardHeight()">
                <p matLine hidden="true"></p>
              </ng-container>
            </ng-container>
          </mat-selection-list> -->

          <app-course-list #courseSelector [parentForm]="interestForm" [courses]="courses"></app-course-list>

     </mat-expansion-panel>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.


    <div>
      <button mat-button (click)="stepper.linear=false; stepper.previous(); stepper.linear=true;" matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
