<!-- <form>
<div class="form-group">
	<label for="theMessage"><b>Message</b></label>
	<input name="theMessage" type="text" [(ngModel)]="message">
	<button type="submit" (click)="messageService.add(message);message='';">Send message</button>
</div>
</form> -->
<br>
<br>
<form>
		<mat-form-field>
		   <input matInput #messageInput maxlength="200" placeholder="Send a message..." name="theMessage" [(ngModel)]="message">
		   <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
		   <mat-hint align="end">{{messageInput.value.length}} / 200</mat-hint>
			<button mat-flat-button (click)="messageService.add(message);message='';" matSuffix>Send</button>
		</mat-form-field>

 </form>
