<ul>
  <li *ngFor="let field of formGroup.controls | keyvalue">
     {{field.key}}: {{field.value.value | json}}
     <button mat-button (click)="subFields.hidden = !subFields.hidden">Show More</button>
     <ul #subFields hidden="true">
     	<div *ngFor="let subField of field.value | keyvalue" >
       	<li *ngIf="subField.key[0] != '_'">
         {{subField.key}} : {{(subField.key== 'errors' || subField.key== 'value') ? (subField.value | json): subField.value}}
       	</li>
       </div>
     </ul>
   </li>
</ul>
